* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
button:hover{
    background-color: #e0e0e0;
}
body {
    background: #f5f5f5;
    color: #000000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #120064;
    padding: 10px 30px;
}
.header h1{
    display: flex;
    color: white;
}
.header .logo {
    background: #ffffff;
    border-radius: 360px;
    padding: 10px 12px;
    font-weight: bold;
}
.logo img{
    width: 80px;
}
.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 12px;
    background: #2350cc;
    border-radius: 4px;
}
.menu a:hover{
    background-color: #120064;
    color: red;
}
.search {
    font-size: 24px;
}

@media (max-width:700px){
    .header{
        flex-direction: column;
    }
}
.top-section {
    display: flex;
    justify-content: space-around;
    background: #3327e0;
    padding: 20px;
}

.headline-box {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 45%;
}
.headline-box h2{
    color: darkblue;
    font-weight: 800;
}

.Sub-Quienes{
    color: #120064;
    font-weight: 800;
}
.Informacion-Quienes-somos{
    text-align: justify;
}
.Boton-informacion{
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(15, 192, 15);
    border: 0;
    cursor: pointer;
}

.Boton-informacion a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.servicios-p{
    text-align: justify;
}
.info-servicio{
    background-color: rgb(15, 192, 15);
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.info-servicio a{
    text-decoration: none;
    color: white;
}
.slider {
    display: flex;
    background-image: url("Imagenes/tecnico2.jpg");
    background-color: rgb(1, 1, 70);
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
}

.slider-content {
    text-align: center;
    flex: 1;
}

.slider-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.slider-buttons .servicio{
    background-color: rgb(0, 0, 0);
    border: solid rgb(255, 255, 255);
    font-weight: 700;
}
.slider-buttons .servicio:hover{
    background-color: white;
    color: black;
}
.slider-buttons .Tienda{
    background-color: rgb(243, 0, 0);
    border: solid rgb(255, 255, 255);
    font-weight: 700;
}
.slider-buttons .Tienda:hover{
    background-color: white;
    color: red;
}
.slider-buttons .asistencia{
    background-color: rgb(2, 148, 14);
    border: solid rgb(255, 255, 255);
    font-weight: 700;
}
.slider-buttons .asistencia:hover{
    background-color: white;
    color: rgb(2, 148, 14);
}

.slider button,
.sections button,
.cta button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.arrow {
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
}


.sections {
    display: flex;
    justify-content: space-around;
    background: #fff;
    padding: 40px 0;
}

.sections img{
    width: 100%;
    height: 100%;
}
.sections button{
    background-color: rgb(15, 192, 15);
}
.card {
    text-align: center;
    width: 30%;
}
.card button:hover{
    background-color: white;
    color: green;
    border: none;
}
.img-placeholder {
    background: #ccc;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
}


.cta {
    background: #e0e0e0;
    text-align: center;
    padding: 40px 0;
}

.consul-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.consul-input input {
    padding: 10px 15px;
    border: 2px solid #333;
    border-radius: 8px;
    width: 600px;
    font-size: 16px;
}
.consul-input button{
    background-color: #e0e0e0;
    border: solid black;
    color: black;
    font-weight: 600;
}
.consul-input button:hover{
    background-color: black;
    border: none;
    color: white;
}
.cta .logo {
    background: #e0e0e0;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 15px 40px;
    font-weight: bold;
}
.cta .logo img{
    width: 180px;
    height: 180px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
}
.footer {
    background: #ccc;
    padding: 30px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-columns div {
    flex: 1;
    min-width: 180px;
}

.social ul {
    list-style: none;
    padding-top: 10px;
}

.social li {
    margin-bottom: 8px;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #000;
}
